<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Controllers</title>
  <style>
  body { font-family: "microsoft yahei" }
  </style>
  <script src="../angular/angular.js"></script>
  <script src="06-Filter.js"></script>
</head>

<body ng-app="app">
  <div ng-controller="FirstCtrl">
    <input type="text" ng-model="data.message">
    <h1>{{ data.message }}</h1>
  </div>
  <div ng-controller="SecondCtrl">
    <input type="text" ng-model="data.message">
    <h1>{{ reversedMessage(data.message) }}</h1>
    <h1>{{ data.message | reverse }}</h1>
  </div>
</body>

</html>
