@charset "utf-8";
html, body {
    height: 100%;
    font-family: "STHeitiSC-Light";
}

body,li,ol,ul,h1,h2,h3,h4,h5,h6,button {
    margin: 0;
    padding: 0;
}

li,ol,ul {
    list-style: none;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 44px;
    background-color: rgba(235,235,235,0.95);
    line-height: 44px;
    // display: flex;
    text-align: center;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 49px;
    line-height: 49px;
    background-color: rgba(235,235,235,0.95);
    // display: flex;
    text-align: center;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 44px 0 49px;
    overflow: hidden;
}

.wrapper {
    width: 100%;
}